h1{
    font: inherit;
    font-size: xx-large;
    font-family:sans-serif;
    color:sienna ;
}

.header{
    background:ghostwhite;
}

.grid{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    background:ghostwhite;
}

.bodyimg{
    border: 2px solid black;
    border-radius:38px;
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.origami{
    border:black;
    border-radius:20px ;
    background-color:silver;

    width: 310px;
    font-family: fantasy;
}

.menu{
    display: flex;
    justify-content:space-around;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
body{
 background-color: white;
}